<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    我开始喂其中一只鸽子。
    一分钟后，又有两只飞过，一分钟后，又有三只。
    然后是4只，以此类推（例：1+2+3+4+...）。一份食物可以让一只鸽子维持一分钟的时间、
    但为了防止食物不够所有的鸽子吃，先到的鸽子就先吃了。
    鸽子是饥饿的动物，吃东西不知道什么时候停止。
    如果我有<b class="code">N</b> 份鸟食，有多少只鸽子会被喂到至少一份小麦？
</p>

<p style="text-align: center;">
    <img class="for_info_only" title="pigeons" src="{{MEDIA}}pigeons.png" alt="pigeons" width="600px"/>
    <img class="for_editor_only" title="pigeons" src="{{MEDIA}}pigeons.png" alt="pigeons" width="380px"/>
</p>




<p>
   <strong>输入：</strong>一个正整数的小麦份量 <span>{% if is_js %}(number){% else %}(int){% endif %}</span>.
</p>

<p>
   <strong>输出：</strong>饲喂鸽子的数量为整数。 <span>{% if is_js %}(number){% else %}(int){% endif %}</span>.
</p>


<div class="for_info_only">
    <p>
        <strong>举例说明：</strong>
    </p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p class="for_info_only">
    <strong>它是如何被使用的：</strong>
    <i>这个任务说明了我们如何对各种情况进行建模。
    当然，这个模型有一个有限的近似值，但很多时候我们不需要一个完美的模型。</i>

</p>
<p>
    <strong>前提条件：</strong>
    <i>0 &lt; N &lt;<sup>105</sup>.</i>
</p>
