<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    Je commence à nourrir l'un des pigeons.
    Une minute plus tard, deux autres pigeons passent et une minute plus tard, trois autres.
    Puis 4, et ainsi de suite (Ex: 1+2+3+4+...). Une portion de nourriture permet à un pigeon de survivre pendant une minute,
    mais au cas où il n'y aurait pas assez de nourriture pour tous les oiseaux, les pigeons qui sont arrivés en premier ont mangé en premier.
    Les pigeons sont des animaux affamés qui mangent sans savoir quand s'arrêter.
    Si j'ai <b class="code">N</b> portions de nourriture pour oiseaux, combien de pigeons seront nourris avec au moins une portion de blé?
</p>

<p style="text-align: center;">
    <img class="for_info_only" title="pigeons" src="{{MEDIA}}pigeons.png" alt="pigeons" width="600px"/>
    <img class="for_editor_only" title="pigeons" src="{{MEDIA}}pigeons.png" alt="pigeons" width="380px"/>
</p>




<p>
   <strong>Entrée:</strong> Une quantité de portions de blé sous la forme d'un positif {% if is_js %}<span>nombre</span> <span>(number)</span>{% else %}<span>entier</span> <span>(integer)</span>{% endif %}.
</p>

<p>
   <strong>Sortie:</strong> Le nombre de pigeons nourris sous la forme d'un {% if is_js %}<span>nombre</span> <span>(number)</span>{% else %}<span>entier</span> <span>(integer)</span>{% endif %}.
</p>


<div class="for_info_only">
    <p>
        <strong>Exemples:</strong>
    </p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p class="for_info_only">
    <strong>Comment l'utiliser:</strong>
    <i>cette tâche illustre la façon dont nous pouvons modéliser diverses situations.
    Bien sûr, le modèle a une approximation limitée, mais souvent nous n'avons pas besoin d'un modèle parfait.</i>

</p>
<p>
    <strong>Condition préalable:</strong>
    <i>0 &lt; N &lt;<sup>105</sup>.</i>
</p>
